pandas
numpy
scikit-learn
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-milvus
langchain-huggingface
sentence-transformers
langchain-openai
fastapi
uvicorn
pydantic
openai
psutil
nvidia-ml-py3
unstructured
python-multipart
PyMuPDF
httpx
